.fotoEvento{
    height: 50vh;
    width: 100%;
   
}
.filaCabecera{
    padding: 0 !important;
    margin-bottom: 5em;
}

.infoEvento{
    margin-top: 10rem !important;
}

.formCompra{
    margin-top: 10rem !important;
    
}

.datosCompra{
    margin-bottom: 5em;
}