.fotoEvento{
    height: 55vh;
   width: 90%;
}
.filaCabecera{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid black;
}



.formCompra{
    margin-top: 10rem !important;
    
}

.datosCompra{
    margin-bottom: 5em;
    margin-top: -1em!important;
}

.button{
    margin-top: 3em;
}

.terminos{
    text-decoration: none;
}