.navBar{
    opacity: 0.7;
    background-color: black;
}
#offcanvasNavbar-expand-lg{
    background-color: rgb(36, 36, 36);
    opacity: 0.7;
}
.enlace{
    color: white !important;
    font-size: 20px;
    background-color: transparent !important;
    margin:  0 7px;
    letter-spacing: 0.05em;
    line-height: 24px;
    transition: all 0.5s;
    font-weight: 500;
}
.boton{
    background-color: white !important;
}
.close{
   background-color: transparent !important;
}

img{
    width: 70px;
    margin-left: 15px;
}