
#offcanvasNavbar-expand-lg{
    background-color: #212529;
    color: white;
}
.enlace{
    color: white !important;
    font-size: 20px;
    margin-right: 30px;
    letter-spacing: 0.05em;
    line-height: 35px;
    transition: all 0.5s;
    font-weight: 500;
    text-decoration: none;
}
.boton{
    background-color: white !important;
}
.enlace:hover{
    color: #FF0900 !important;
}

.logo{
    width: 70px;
    margin-left: 15px;
}

#userDropdown{
    color: white !important;
    font-size: 20px;
    margin-right: 50px;
    letter-spacing: 0.05em;
    line-height: 20px;
    transition: all 0.5s;
    font-weight: 500;
    text-decoration: none;
    background-color: #212529;
}
.dropdown-menu{
    background-color: #212529 !important;
}
#dropdown{
    background-color: #212529 !important
}

.enlaces{
    background-color:  #212529 !important;
}
