.footer{
    background-color: #212529 !important;
    position: absolute;
    bottom: 0;
}

.enlacesSection{
    text-align: start;
}

.enlaceFooter{
    color: white;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0.05em;
    font-weight: 500;
}

.enlaceFooter:hover{
    color: #FF0900 ;
}

.icons{
    color: white;
    text-align: center;
}

.copy{
    color: gray;
}

.iconFooter{
    color: white !important;
}

.iconFooter:hover{
    color: #FF0900 !important;
}

